torch>=2.0.0
pandas>=2.0.0
seaborn>=0.12.0
noisereduce>=3.0.0
torchaudio>=2.0.0
numpy>=1.20.0
transformers>=4.25.0
datasets>=2.10.0
librosa>=0.9.0
soundfile>=0.12.0
peft>=0.14.0    # For LoRA fine-tuning
evaluate>=0.4.0 # For evaluation metrics
jiwer>=2.3.0  # For WER calculation
tensorboard>=2.10.0  # For training visualization
gTTS>=2.3.1  # Google Text-to-Speech
matplotlib>=3.5.0  # For visualization
pydub>=0.25.1  # For audio manipulation